<!DOCTYPE html>
<html>
<head>
{% seo %}
<meta charset="utf-8">
<meta name="robots" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--title>{% if page.tag or page.title %}{% if page.tag %}{{ page.tag | escape }}{% else %}{{ page.title | escape }}{% endif %} - {% endif %}{% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}Page {{ paginator.page }} of {{ paginator.total_pages }} - {% endif %}{{ site.name | escape }} - {{ site.description | escape }}</title>
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="og:site_name" content="Public Domain Models">
<meta property="article:publisher" content="http://www.facebook.com/publicdomainmodels" />
<meta property="article:author" content="https://www.facebook.com/publicdomainmodels" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | prepend: site.url }}"-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/style.css">
</head>
<body>
<header class="topnav" id="myTopnav">
  <a href="https://publicdomainmodels.com" class="active">{{site.name}}</a>
  <div class="header-right">
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <a href="{{site.baseurl}}/categories">Categories</a>
  <a href="{{site.baseurl}}/license">License</a>
  <a href="{{site.baseurl}}/about">About</a>
  <a href="{{site.baseurl}}/contact">Contact</a>
  </div>
</header>
<p></p>

{{ content }}

<footer style="text-align: center; padding: 16px;">
<!-- Social footer -->
<a target="_blank" href="https://facebook.com/publicdomainmodels"><i class="fab fa-facebook-f" style="color: #666;"></i></a>
<a target="_blank" href="https://github.com/publicdomainmodels"><i class="fab fa-github" style="color: #555;"></i></a>
<a target="_blank" href="https://pinterest.com/publicdomainmodels"><i class="fab fa-pinterest" style="color: #666;"></i></a>
<a target="_blank" href="https://instagram.com/publicdomainmodels"><i class="fab fa-instagram" style="color: #666;"></i></a>
<br/>
<!-- Footer credit -->
<span id="pdm" style="color: #666;"></span> &middot; <a style="color: #666;" href="https://publicdomainmodels.com">Public Domain Models</a>
<script>
document.getElementById("pdm").innerHTML = new Date().getFullYear();
</script>
</footer>
<script src="{{site.baseurl}}/assets/topnav.js"></script>
<!-- Scroll to Top -->
<style>
#myBtn {  display: none;  position: fixed;  bottom: 4.5em;  right: 1.5em;  z-index: 99;  font-size: 18px;  border: none;  outline: none;  background-color: #008eff;  color: white;  cursor: pointer;  padding: 0px 4px 0px 4px;  border-radius: 100%;} #myBtn:hover {  background-color: #0079de;}
</style>
<button onclick="topFunction()" id="myBtn"><svg style='width: 46px; height: 48px; ertical-align: middle;' viewBox="0 0 24 22"><path d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='#fff'></path></svg></button>
<script>
var mybutton = document.getElementById("myBtn");window.onscroll = function() {scrollFunction()};function scrollFunction() {  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {    mybutton.style.display = "block";  } else {    mybutton.style.display = "none";  }}function topFunction() {  document.body.scrollTop = 0;  document.documentElement.scrollTop = 0;}
</script>
<!-- Cookie Consent popup to comply with EU cookie law -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/cookieconsent.min.css"/>
<script src="{{site.baseurl}}/assets/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){window.cookieconsent.initialise({"cookie": { "expiryDays": 730 },"palette": {"popup": { "background": "#212327" },"button": { "background": "#007bff" }},"theme": "classic"});});
</script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "923e7211471247c3b2d25ff888c4db82"}'></script>
</body>
</html>
