---
layout: default
---
<article>
{% if page.image %} 
<img alt="Free 3D {{ post.title }}" style="width: 100%; border-radius: 5px;" src="{{ page.image }}">
{% endif %}
<h2>{{page.title}}</h2>
{% unless page.metadate == "hide" %} 
{{ page.date | date: '%B %d, %Y' }} 
{% endunless %}
{% if page.author %}
, by {{page.author | capitalize}} 
{% endif %}
{{ content }}

<!-- Table post -->
<div class="post-columns" style="background-color:#fff; border: none; font-size: 14px;">
<span style="color: #6c757d;">Name:</span> {{page.object}}<br />
<span style="color: #6c757d;">Geometry:</span> {{page.geometry}}<br />
<span style="color: #6c757d;">Vertices:</span> {{page.vertices}}<br />
<span style="color: #6c757d;">Animated:</span> {{page.animated}}<br />
<span style="color: #6c757d;">Rigged:</span> {{page.rigged}}<br />
<span style="color: #6c757d;">Software:</span> {{page.software}}<br />
<span style="color: #6c757d;">Engine:</span> {{page.engine}}<br />
<span style="color: #6c757d;">Game Ready (low poly):</span> {{page.gameready}}<br />
<span style="color: #6c757d;">3D Printable Ready:</span> {{page.3dprintableready}}<br />
<span style="color: #6c757d;">Unwrapped UVs:</span> {{page.uvunwrapped}}<br />
<span style="color: #6c757d;">Author:</span> {{page.admin}}<br />
<span style="color: #6c757d;">License:</span> <a href="/license">Public Domain</a> / <a href="/faq">FAQ</a><br />
</div>
<div class="post-columns" style="background-color:#fff; border: none; font-size: 14px;">
<span style="color: #6c757d;">Format & File:</span><br />
Blender <i style="color: #6c757d;">(.blend)</i> {{page.blend}}<br />
<span style="color: #6c757d;">Available Exported:</span><br />
Collada <i style="color: #6c757d;">(.dae)</i> {{page.dae}}<br />
3D Studio <i style="color: #6c757d;">(.3ds)</i> {{page.3ds}}<br />
Autodesk FBX  <i style="color: #6c757d;">(.fbx)</i> {{page.fbx}}<br />
Wavefront OBJ <i style="color: #6c757d;">(.obj, .mtl)</i> {{page.obj}}<br />
Stereolithography <i style="color: #6c757d;">(.stl)</i> {{page.stl}}<br />
<span style="color: #6c757d;">Third Parties:</span><br />
Texture <i style="color: #6c757d;">{{page.imagetexture}}</i> {{page.texture}}<br />
HDRI <i style="color: #6c757d;">{{page.environment}}</i> {{page.hdri}}<br />
<span style="color: #6c757d;">Description:</span> {{page.notice}}<br />
</div>
<style>
.post-columns a {color: #007bff; text-decoration: none;} .post-columns a:hover {color: #007bff; text-decoration: underline;} .post-columns {float: left; border: 1px solid #dedede; border-radius: 5px; padding: 0px 0px 5px 0px; width: 50%; height: auto;} .row:after {content: ""; display: table; clear: both;} @media screen and (max-width: 600px) { .post-columns { width: 100%; }}
</style>
<script src="/assets/rawgit.js"></script>
<div class="row"></div>
<!-- Navigation post -->
<div style="text-align:left; font-size: 14px;">
{% if page.next.url %}
<a style="color: #555;" href="{{site.baseurl}}{{page.next.url}}"><svg height='14' viewBox='0 0 18 18' width='14'><path d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' color='#555'/></svg> Next</a>
{% endif %}
</div>
<div style="text-align:right; font-size: 14px;">
{% if page.previous.url %}
<a style="color: #555;" href="{{site.baseurl}}{{page.previous.url}}">Prev <svg height='14' viewBox='0 0 18 18' width='14'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' color='#555'/></svg></a>
{% endif %}
</div>
<br/>
<!-- Related post -->
  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}


  {% for post in site.posts %}


    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}

  <div class="column">
    <div class="card">
          <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="rel">
                <img width="100%" src="{{post.image}}">
                <h3>{{ post.title }}</h3>
              </div>
          </a>
    </div>
  </div>

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
<div class="row"></div>
</article>
